apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-demo
  namespace: default
spec:
  replicas: 5
  selector:
    matchLabels:
      app: gitops-demo
  template:
    metadata:
      labels:
        app: gitops-demo
    spec:
      containers:
        - name: gitops-demo
          image: moneshab/gitops-demo:clean
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            requests:
              cpu: "100m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
